<!doctype html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<html>
<head>
    <title>Jurgensen Fuel Access Control System</title>
	
</head>
<body>
	<header><img src="/img/JurgensenPic.PNG" alt="Jurgensen Companies"></header>
    {{{body}}}
</body>
</html>
